# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
webstorm.config.js
jsconfig.json

# Custom Snippets
load.sh

# Databases
backend/api/data/*.db
backend/api/data/*.db-*
backend/api/data/maps/extended/**
backend/api/data/backups/**