@use '@/styles/constants' as *;

.a-fade-in {
    opacity: 0;
    animation: fadeIn 0.6s ease-out;
    animation-fill-mode: forwards;
}

.a-fade-in-raw {
    opacity: 0;
    animation: fadeInRaw 0.6s ease-out;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        translate: 0 10px;
    }

    100% {
        opacity: 1;
        translate: 0 0;
    }
}

@keyframes fadeInRaw {
    0% {
        opacity: 0;
        // translate: 0 10px;
    }

    100% {
        opacity: 1;
        // translate: 0 0;
    }
}

@for $i from 1 through 24 {
    .a-delay-#{$i} {
        animation-delay: calc($i/10)+s;
    }
}

/* Define the keyframes for the border animation */
@keyframes borderAnimation {
    0% {
        border-top: 1.2px solid transparent;
        border-right: 1.2px solid transparent;
        border-bottom: 1.2px solid transparent;
        border-left: 1.2px solid transparent;
    }

    25% {
        border-top: 1.2px solid $n-border-color;
        border-right: 1.2px solid transparent;
        border-bottom: 1.2px solid transparent;
        border-left: 1.2px solid transparent;
    }

    50% {
        border-top: 1.2px solid $n-border-color;
        border-right: 1.2px solid $n-border-color;
        border-bottom: 1.2px solid transparent;
        border-left: 1.2px solid transparent;
    }

    75% {
        border-top: 1.2px solid $n-border-color;
        border-right: 1.2px solid $n-border-color;
        border-bottom: 1.2px solid $n-border-color;
        border-left: 1.2px solid transparent;
    }

    100% {
        border-top: 1.2px solid $n-border-color;
        border-right: 1.2px solid $n-border-color;
        border-bottom: 1.2px solid $n-border-color;
        border-left: 1.2px solid $n-border-color;
    }
}

/* Common animations used in game */
@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeOutAndGrow {
    0% {
        opacity: 1;
        scale: 1;
    }

    100% {
        opacity: 0;
        scale: 1.5;
    }
}

@keyframes shrink {
    0% {
        scale: 1;
    }

    99% {
        scale: 0;
    }

    100% {
        scale: 0;
        display: none;
    }
}

@keyframes growAndBounceBack {
    0% {
        scale: 0;
    }

    50% {
        scale: 1.2;
    }

    100% {
        scale: 1;
    }
}

@keyframes blurAndFadeOut {
    0% {
        opacity: 1;
        filter: blur(0);
    }

    100% {
        opacity: 0;
        filter: blur(10px);
    }
}