//: Color Definition

$n-red: #f03c24;
$n-blue: #007bff;
$n-primary: #6af5b9;

$n-white: #efefef;
$n-black: #212121;
$n-light-grey: #f8f9fa;
$n-grey: #6c757d;
$n-dark-grey: #484d52;

//: Color Binding

$footnote-color: $n-grey;
$n-ion-button-hover-color: $n-primary;
$n-border-color: #d4d4d498;

//: Pagination Setting

$pagination-bg-color: $n-light-grey;
$pagination-bg-color--active: $n-primary;
$pagination-dot-size: 5px;

//: Level Select Grid Setting

$level-select-grid-scale: 6rem;
$level-select-grid-gap: 1rem;

//: Level Map Setting

$level-name-font-size: 1.2rem;
$level-name-letter-spacing: 5pt;
$game-entrance-title-animation-duration: 1s;   // Is linked to gameEntranceTitleAnimationDuration

$level-map-grid-scale: 4rem;    // Is linked to levelMapGridScale, levelMapGridScalePx
$level-map-grid-color: rgba($n-white, 0.5);
$level-map-background-color: rgba($n-dark-grey, 0.05);
$level-map-board-border-color: rgba($n-light-grey, 0.25);
$level-map-board-border-width: 1px;
$level-map-board-border-radius: 3.2px;
$level-map-board-background-color: rgba($n-dark-grey, 0.2);
$level-map-portal-border-width: 1px;
$level-map-portal-border-radius: 2px;
$level-map-portal-background-alpha: 0.15;   // Is linked to levelMapPortalBackgroundAlpha
$level-map-particle-diameter: 1.8rem;
$level-map-particle-border-width: 1px;
$level-map-positron-background-color: rgba($n-red, 0.6);
$level-map-positron-border-color: rgba($n-light-grey, 0.5);
$level-map-electron-background-color: rgba($n-blue, 0.6);
$level-map-electron-border-color: rgba($n-light-grey, 0.5);
$level-map-active-particle-ring-diameter: 2.2rem;
$level-map-active-particle-ring-weight: 0.18rem;
$level-map-active-positron-border-color: rgba($n-red, 1);
$level-map-active-electron-border-color: rgba($n-blue, 1);

//: Map Editor Setting

$map-editor-header-margin: 2.4rem;
$map-editor-header-height: 4rem;
$map-editor-toolbar-width: 3.2rem;
$map-editor-toolbar-width-expanded: 10.2rem;
$map-editor-toolbar-right-margin: 9.2vw;
$map-editor-na-color: $n-red;
$map-editor-right-color: #303030c0;
$map-editor-username-color: $n-grey;

$map-editor-toolbar-icon-size: 1.8rem;
$map-editor-toolbar-button-height: 3.6rem;
$map-editor-toolbar-active-backdrop-color: rgba($n-dark-grey, 0.2);
$map-editor-toolbar-board-color: $n-primary;
$map-editor-toolbar-portal-color: orange;
$map-editor-toolbar-positron-color: $n-red;
$map-editor-toolbar-electron-color: $n-blue;
$map-editor-toolbar-remover-color: #ffba08;
$map-editor-toolbar-clear-all-backdrop-color: $n-red;
$map-editor-toolbar-focus-backdrop-color: $n-blue;
$map-editor-sprite-mouseover-board-color: $n-light-grey;
$map-editor-sprite-mouseover-remover-border-weight: 4px;
$map-editor-sprite-mouseover-remover-border: 4px dashed #ffba08;

$map-editor-right-selection-border: 1px solid rgba($n-primary, 0.5);
$map-editor-right-selection-background: rgba($n-primary, 0.1);
$map-editor-right-selection-backdrop-filter: brightness(100%);
$map-editor-right-selection-tools-button-size: 2rem;
$map-editor-right-selection-tools-font-size: 1rem;

$map-editor-confirm-deletion-card-width: min(25rem, 60rem);

//: Game Animation Setting

$game-default-animation-duration: 0.2s;   // Is linked to gameDefaultAnimationDuration
$game-dropout-animation-duration: 1s;     // Is linked to gameDropoutAnimationDuration
$game-transport-animation-duration: 0.2s  // Is linked to gameTransportAnimationDuration