@use "constants" as *;

@for $i from 1 through 32 {
    .u-gap-#{$i} {
        width: $i * 1pt;
    }
}

.u-green {
    color: $n-primary;
}

.u-show {
    background-color: rgb(41, 39, 39);
}

.u-mla {
    margin-left: auto;
}

.u-df {
    display: flex;
}