//: Color Definition

$n-red: #f03c24;
$n-blue: #007bff;

$n-white: #efefef;
$n-black: #212121;
$n-light-grey: #f8f9fa;
$n-grey: #6c757d;
$n-dark-grey: #484d52;

//: Color Binding

$footnote-color: $n-grey;