//: Color Definition

$n-red: #f03c24;
$n-blue: #007bff;
$n-primary: #6af5b9;

$n-white: #efefef;
$n-black: #212121;
$n-light-grey: #f8f9fa;
$n-grey: #6c757d;
$n-dark-grey: #484d52;

//: Color Binding

$footnote-color: $n-grey;
$n-ion-button-hover-color: $n-primary;

//: Pagination Setting

$pagination-bg-color: $n-light-grey;
$pagination-bg-color--active: $n-primary;
$pagination-dot-size: 5px;